
# exports
export(dataset)

useDynLib(rdataset, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

# general
import(cli)
import(Rcereal)
import(dplyr)
import(tidyr)
importFrom("stats", "na.omit")

# tree data
importFrom(ape, read.tree)
importFrom(ape, drop.tip)
importFrom(ape, nj)
importFrom(ape, dist.dna)
importFrom(ape, as.DNAbin)

# c++ code
import(RcppThread)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, loadModule)

# R6 classes
importFrom(R6, R6Class)
importFrom(methods, new)
importFrom(waldo, compare)

# read fastq files
#importFrom(microseq, readFastq)

importFrom(readr, read_table)

# read FASTA files
importFrom(microseq, readFasta)
importFrom(microseq, writeFasta)

# paralellized code
importFrom(parallelly, availableCores)


