
# exports
export(Dataset)
export(sequence_data)

useDynLib(rdataset, .registration=TRUE)
exportPattern("^[[:alpha:]]+")

# general
import(cli)

# c++ code
import(RcppThread)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, loadModule)

# R6 classes
importFrom(R6, R6Class)
importFrom(methods, new)
importFrom(waldo, compare)
import(data.table)

# read fastq files
importFrom(microseq, readFastq)

importFrom(readr, read_table)

# read FASTA files
importFrom(microseq, readFasta)

# paralellized code
importFrom(parallelly, availableCores)


